
<md-toolbar class="mainMenuBar" color="primary" style="box-shadow: 1px 1px lightgrey;">

  <div style="width: 170px; font-family: Cambria"><p style="font-size: 26px; margin-bottom: 32px; margin-left: 12px; color: whitesmoke; text-shadow: 1px 1px darkblue;">A93 - Tønder</p></div>
  <button routerLink="/" md-button>Home</button>
  <button routerLink="/events" md-button>Begivenheder</button>
  <button routerLink="/" md-button>Forum</button>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button routerLink="/" md-button>Accounts</button>

</md-toolbar>

